* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #060F2C;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.box {
    background-color: #060F2C;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    border: solid 2px whitesmoke;
    box-shadow: 5px 5px 15px rgba(75, 75, 75, 0.5);
    color: white;
    border-radius: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputBox {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 15px;
    width: 300px;
    border-radius: 10px;
    border: solid 2px;
    direction: ltr;
}

.inputBox:focus-within {
    border-color: #EB8E1E;
    box-shadow: 0 0 0 1px #EB8E1E;
}

.inputBox input {
    flex: 1;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    direction: ltr;
    text-align: left;
}

.inputBox input::placeholder {
    color: gray;
    font-size: 1rem;
    font-weight: 700;
}

.prefix {
    display: flex;
    align-items: center;
    gap: 6px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

.prefix span {
    color: black;
    opacity: 0.6;
    font-weight: bold;
}

.iconOnly {
    width: 20px;
}

.button {
    background-color: #EB8E1E;
    width: 300px;
    border: none;
    color: #060F2C;
    font-weight: bolder;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(235, 142, 30, 0.4);
}

.button:active {
    color: white;
}

.p span {
    color: #EB8E1E;
    font-weight: bolder;
    cursor: pointer;
}

.p span:hover {
    text-decoration: underline;
}

.link {
    color: white;
    text-decoration: none;
}