.container {
    background-color: #060F2C;
    color: white;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    transition: 0.25s ease;
    box-sizing: border-box;
    border: solid;
}

.container .upper > img {
    width: 90%;
    max-width: 250px;
    border-radius: 5px;
    padding-bottom: 5px;
    object-fit: contain;
}

.container .upper p img {
    transition: 0.2s ease;
    cursor: pointer;
    width: 35px;
}

.container .upper p {
    width: 100%;
}

.container .upper {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h3 {
    color: #EB8E1E;
    margin-bottom: 10px;
}

.container .lower p {
    color: rgba(255, 255, 255, 0.75);
    line-height: 1.6;
    font-size: 0.9rem;
}

.container .lower div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.container .lower div button {
    background-color: #EB8E1E;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.2s ease;
    color: #060F2C;
}

.container .lower div button:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.container .lower div button:active {
    transform: scale(0.9);
    opacity: 1;
}

.container .lower div img {
    width: 35px;
    transition: 0.2s ease;
    cursor: pointer;
}

.container .lower div img:hover {
    transform: scale(1.1);
    opacity: 0.75;
}

.container .lower div img:active {
    opacity: 1;
    transform: scale(0.9);
}

.container .upper p img:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.container .upper p img:active {
    opacity: 1;
    transform: scale(0.9);
}

.a {
    color: white;
    font-size: 1rem;
    border: solid 1px white;
    padding: 3px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.a:hover {
    color: #060F2C;
    background-color: rgba(255, 255, 255, 0.9);
}

.a:active {
    transform: scale(0.9);
}

.container .lower p {
    color: rgba(255, 255, 255, 0.75);
    line-height: 1.6;
    font-size: 0.9rem;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    min-height: calc(1.6em * 2); /* forces 2 lines height */
}

.container h2 {
    font-size: 1.20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}